certifi==2019.11.28
chardet==3.0.4
Click==7.0
fake-useragent==0.1.11
Flask==1.1.1
Flask-Script==2.0.6
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.2
Markdown==2.6.11
MarkupSafe==1.1.1
plueprint==0.4.2
pymongo==3.10.1
PyTrie==0.2
requests==2.22.0
selenium==3.141.0
six==1.13.0
uritemplate==3.0.1
uritemplate.py==3.0.2
urllib3==1.25.8
Werkzeug==0.16.0
wincertstore==0.2
