<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹幕详情</title>
    <link rel="stylesheet" href="../static/css/popup.css">
</head>
<body>
    <h3>{{ barrages.text }}</h3>
    <a class="barrage-link" href="{{ barrages.url }}"><-查看源网页-></a>
</body>
<script>
    let barrageLink = document.querySelector('.barrage-link'),
        barrageUrl = barrageLink.getAttribute('href');
    barrageLink.onclick = function () {
        //点击弹窗中的链接，新建一个标签页
            window.open(barrageUrl);
        };
</script>
</html>