/*弹幕容器*/
.box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.barrage-container-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: white no-repeat;
    background-size: 100% 100%;
    z-index: auto;
}

.barrage-container {
    position: absolute;
    top: 15px;
    left: 0;
    bottom: 15px;
    cursor: default;
    user-select: none;
    z-index: 1;
}

/*弹幕主体*/
.barrage-item {
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    z-index: 2;
}

.barrage-item .barrage-link {
    display: none;
    position: absolute;
    width: 100px;
    height: 15px;
    padding: 7px 15px;
    line-height: 12px;
    font-size: 14px;
    color: #444444;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
    transform-origin: center top;
    animation: tipScale cubic-bezier(.22, .58, .12, .98) .4s;
}

/*展开列表按钮*/
.expand{
    height: 34px;
    width: 34px;
    background-color: #3aa3e5;
    cursor: pointer;
    position: relative;
    float: right;
    z-index: 10;
}

.expand img{
    width:30px;
    height: 30px;
    position: relative;
    margin-top: 2px;
    margin-left: 2px;
}

/*弹幕列表*/
.barrage-list{
    display: none;
    justify-content: flex-end;
    background-color: #444444;
    width: 30%;
    height: 100%;
    color: white;
    font-size: 16px;
    line-height: 20px;
    overflow-y: scroll;
}
.barrage-list .barrage-list-item{
    border: 1px solid #363636;
    cursor: pointer;
}

/*弹幕详情面板*/
.list-header{
    width: 100%;
    height: 35px;
    background-color: #3aa3e5;
}
.close-btn{
    width: 30px;
    height: auto;
    float: right;
    cursor: pointer;
}
.barrage-detail-panel{
    display: none;
    justify-content: flex-end;
    background-color: #444444;
    width: 30%;
    height: 100%;
    color: white;
    line-height: 20px;
    overflow-y: scroll;
}

.barrage-detail-panel .contents{
    font-size: 16px;
}